<html><body>
    <div id="mapdiv"></div>
    <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
    <script>
      map = new OpenLayers.Map("mapdiv");
      map.addLayer(new OpenLayers.Layer.OSM());
  
      var lonLat = new OpenLayers.LonLat( "<%=olng%>","<%=olat%>")
            .transform(
              new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
              map.getProjectionObject() // to Spherical Mercator Projection
            );
     var lonLat1 = new OpenLayers.LonLat( "<%=vlng%>","<%=vlat%>")
      . transform(
        new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
        map.getProjectionObject() // to Spherical Mercator Projection
    );     
            
      var zoom=14;
  
      var markers = new OpenLayers.Layer.Markers( "Markers" );
      map.addLayer(markers);
      
      markers.addMarker(new OpenLayers.Marker(lonLat));
      markers.addMarker(new OpenLayers.Marker(lonLat1));
      
      map.setCenter (lonLat, zoom);
    </script>
  </body></html>