<html>
    <head>
        <title>
            Victim Form
        </title>
        <link rel="stylesheet" href="css/formStyles.css">
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   <style>
     .toggle{
       color: Black;
     }
   </style> 

</head>



<body>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <div class="container">
  
    <form id="contact" action="/victimform" method="post" enctype="multipart/form-data">
      <h3><strong>Victim Form</strong></h3>
      <h4><strong>Fill the victim data</strong></h4>
      <fieldset>
        <p><strong>Upload an image (required)</strong></p>
        <input type="file" accept="image/*" name="image" capture> 
      </fieldset>
      <br>
      <fieldset>
        <p><strong>Enter your Email ID to get further updates</strong></p>
        <input placeholder="Email" type="email" tabindex="4" name="uid" required>
      </fieldset>
     <br>
      <fieldset>
        <!-- <input placeholder="Age" type="text" name="age" tabindex="2" required> -->
        <label for="card">Age: </label>
        <select id="age" name="age">
          <option value=5 >5</option>
          <option value=10 >10</option>
          <option value=15 >15</option>
        </select>
      </fieldset>
      <br>
      <fieldset>
        <!-- <input placeholder="Pwdstat" type="text" name="pwdstat" tabindex="3" required> -->
        <strong>Pwdstat:</strong>
        <label for="yes">Yes</label>
        <input placeholder="yes" id="yes" type="radio" value="yes" name="pwdstat" checked>
        <label for="no">No</label>
        <input placeholder="no" id="no" type="radio" value="no" name="pwdstat">
      </fieldset>
      <br>
      <fieldset>
        <input placeholder="Activity" type="text" tabindex="4" name="activity" required>
      </fieldset>
      
      <fieldset>
        <textarea placeholder="Further Description (optional)" tabindex="5" name="description"></textarea>
      </fieldset>
      
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
        
      </fieldset>
      
    </form>
  </div>

    
  
</body>
  </html>